{% extends "bootstrap/base.html" %}
{% block title %}
    DouMovies
{% endblock %}
{% block head %}
    {{ super() }}
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/dataTool.min.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/minemine.js"></script>
    <link rel="icon" href="/static/icon.ico">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-2">
                <div class="header">
                    <ul class="nav nav-pills pull-right" role="tablist">
                        <li role="presentation" class="active"><a href="http://v3.bootcss.com/examples/jumbotron-narrow/#">Home</a></li>
                        <li role="presentation"><a href="http://v3.bootcss.com/examples/jumbotron-narrow/#">About</a></li>
                        <li role="presentation"><a href="http://v3.bootcss.com/examples/jumbotron-narrow/#">Contact</a></li>
                    </ul>
                    <h3 class="text-muted">D · M</h3>
                </div>
            </div>
            <div class="col-lg-6 col-lg-offset-3" id="dv_graph" style="width: 700px; height: 400px; padding-top: 30px">
                test
                <script type="text/javascript">
                    myChart = echarts.init($("#dv_graph").get(0));
{#                    myChart.showLoading();#}
                    var option = make_pie();
                    myChart.setOption(option);
                </script>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script></script>

{% endblock %}